.App {
  text-align: center;
}
.circle-container-left {
  position: absolute;
}
.circle-container-right {
  position: absolute;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}
.circle-1 {
  width: 407px;
  height: 507px;
  border-radius: 50%;
  background-color: aqua;
  filter: blur(280px);
  position: absolute;
  top: 280px;
  left: -392px;
}
.circle-2 {
  width: 285px;
  height: 407px;
  border-radius: 50%;
  background-color: aqua;
  position: absolute;
  top: 350px;
  left: 1000px;
  filter: blur(280px);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
